@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-mainBackColor: oklch(57.7% 0.245 27.325);
  --color-mainTextColor: oklch(0.446 0.03 256.802);
}

body {
  font-family: "Cairo", sans-serif;
}
