@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"); */

@import "tailwindcss";

@theme {
  --color-Color50: #fbf7f1;
  --color-Color100: #f8f1e7;
  --color-Color200: #ebd7bd;
  --color-Color300: #deba93;
  --color-Color900: #351d15;
  --color-logoColor: #ee4e2c;
  --color-footerColor: #262626;
}

body {
  /* font-family: "Tajawal", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.backgroundpattern {
  background-color: #e0e0e5;
  opacity: 0.5;
  background: radial-gradient(
      circle,
      transparent 20%,
      #e0e0e5 20%,
      #e0e0e5 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #e0e0e5 20%,
        #e0e0e5 80%,
        transparent 80%,
        transparent
      )
      17.5px 17.5px,
    linear-gradient(
        #f78545 1.4000000000000001px,
        transparent 1.4000000000000001px
      )
      0 -0.7000000000000001px,
    linear-gradient(
        90deg,
        #f78545 1.4000000000000001px,
        #e0e0e5 1.4000000000000001px
      ) -0.7000000000000001px 0;
  background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

.box {
  --mask: radial-gradient(223.61px at 50% 300px, #000 99%, #0000 101%)
      calc(50% - 200px) 0/400px 100%,
    radial-gradient(223.61px at 50% -200px, #0000 99%, #000 101%) 50% 100px/400px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
